blueberry/
cinnamon/
cinnamon-control-center/
cinnamon-desktop/
cinnamon-menus/
cinnamon-screensaver/
cinnamon-session/
cinnamon-settings-daemon/
cinnamon-translations/
cjs/
flags/
folder-color-switcher/
gnome-screenshot/
lightdm-settings/
mintbackup/
mintnanny/
mintsources/
mintstick/
mintsystem/
mint-themes/
mintupdate/
mint-upgrade-info/
mintupload/
mintwelcome/
mint-x-icons/
mint-y-icons/
muffin/
nemo/
pia-manager/
pix/
python-xapp/
slick-greeter/
timeshift/
xapps/
xplayer/
xreader/
xviewer/
xviewer-plugins/
